body {
    width: 1000px;
    margin: auto;
}

.header {
    text-align: center;
    margin-bottom: 40px;
}

#taskList p {
    height: 30px;
	font-size: 150%;
	width: 100px;
	float: left;
	text-align: center;
	margin-right: 5px;
	vertical-align: middle;
    border: 3px dotted white;
}	

#taskList p:hover {
    border: 3px solid red;
	background-color: grey;
}	